
h1{
    color:white;
  }
  .res{
    color:white;
  }
  #salidaA{
    padding: 10px;
    background: white;
     margin:20px  15em;
  }
  button {
    padding: 7px;
    border-radius:7px;
    
     background: white;
    text-align: center;
  }
  input{
    margin:10px;
    padding: 7px;
    border-radius:7px;
    
     background: white;
    text-align: center;
    border: none;
  }
  span{
    color: #f4623a;
  }
  label{
     color :white;
  }